body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.main-title {
  text-align: center;
}

.inputs-wrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  padding: 20px;
  font-size: 1.3rem;
}

.expense-box {
  border: 3px solid red;
}

.expense-input {
  padding: 8px 12px;
  font-weight: bold;
  color: hsl(0, 0%, 60%);
  border: 3px solid;
  border-radius: 4px;
  width: 200px;
  transition: border-color 0.4s ease;
}

.expense-select {
  padding: 8px 12px;
  font-weight: bold;
  color: hsl(0, 0%, 60%);
  border: 3px solid;
  border-radius: 4px;
  width: 200px;
  transition: border-color 0.4s ease;
}

.add-expense-btn {
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  background-color: hsl(155, 100%, 40%);
  color: white;
  transition: background-color 0.4s ease;
}

.add-expense-btn:hover {
  background-color: hsl(155, 100%, 35%);
}

.expenses-wrapper {
  border: 1px solid;
}

.expenses-category-sum {
  border: 3px solid blue;
  padding: 20px;
  display: flex;
  gap: 50px;
}
