body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.main-title {
  text-align: center;
}

.inputs-wrapper {
  display: flex;
  justify-content: space-between;

  padding: 20px;
  font-size: 1.3rem;
}

.expense-box {
  border: 3px solid red;
}

.expense-input {
  padding: 8px 12px;
  font-weight: bold;
  color: hsl(0, 0%, 60%);
  border: 3px solid;
  border-radius: 4px;
  width: 200px;
  transition: border-color 0.4s ease;
}

.expense-select {
  padding: 8px 12px;
  font-weight: bold;
  color: hsl(0, 0%, 60%);
  border: 3px solid;
  border-radius: 4px;
  width: 200px;
  transition: border-color 0.4s ease;
}

.add-expense-btn {
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  background-color: hsl(155, 100%, 40%);
  color: white;
  transition: background-color 0.4s ease;
}

.add-expense-btn:hover {
  background-color: hsl(155, 100%, 35%);
}

.expenses-category-sum {
  padding: 20px;
  display: flex;
  gap: 50px;
  margin-top: 20px;
}

.category {
  padding: 8px;
  font-weight: bold;
  border-radius: 8px;
  color: black;
  width: 150px;
  text-align: center;
}

.clothes {
  background-color: lightcoral;
}

.groceries {
  background-color: lightgreen;
}

.bills {
  background-color: rgb(175, 95, 250);
}

.eating-out {
  background-color: lightsalmon;
}

.monthly-expenses-container {
  padding: 20px;
}

.monthly-expenses-title {
  font-size: 1.3rem;
}

.monthly-expenses-select {
  font-size: 0.9rem;
  padding: 4px;
  font-weight: bold;
  color: hsl(0, 0%, 60%);
  border: 3px solid;
  border-radius: 4px;
}

.expenses-list {
  list-style: none;
  padding: 20px;
}

.expense-li {
  display: flex;
  gap: 40px;
  font-size: 1.3rem;
  align-items: center;
  margin-bottom: 10px;
}

.expense-txt {
  width: 150px;
}

.expense-btn-container {
  font-size: 1.3rem;
}

.expense-btn {
  font-size: 1.1rem;
  margin-right: 16px;
  width: 100px;
  padding: 4px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.4s ease;
}

.edit-btn {
  background-color: hsl(195 66% 70%);
}

.edit-btn:hover {
  background-color: hsl(195 66% 65%);
}

.remove-btn {
  background-color: hsl(0 74% 63%);
}

.remove-btn:hover {
  background-color: hsl(0 74% 58%);
}

.edit-input {
  font-size: 1.3rem;
  font-weight: bold;
  color: hsl(0, 0%, 60%);
  border-radius: 4px;
  border: 3px solid;
}

.edit-select {
  font-size: 1.3rem;
  font-weight: bold;
  color: hsl(0, 0%, 60%);
  border-radius: 4px;
  border: 3px solid;
}

.save-change-btn {
  font-size: 1.3rem;
  padding: 8px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 4px;
  background-color: hsl(205, 90%, 60%);
  transition: background-color 0.4s ease;
}

.save-change-btn:hover {
  background-color: hsl(205, 90%, 55%);
}
