body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.main-title {
  text-align: center;
}

.inputs-wrapper {
  display: flex;
  justify-content: space-between;

  padding: 20px;
  font-size: 1.3rem;
}

.expense-box {
  border: 3px solid red;
}

.expense-input {
  padding: 8px 12px;
  font-weight: bold;
  color: hsl(0, 0%, 60%);
  border: 3px solid;
  border-radius: 4px;
  width: 200px;
  transition: border-color 0.4s ease;
}

.expense-select {
  padding: 8px 12px;
  font-weight: bold;
  color: hsl(0, 0%, 60%);
  border: 3px solid;
  border-radius: 4px;
  width: 200px;
  transition: border-color 0.4s ease;
}

.add-expense-btn {
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  background-color: hsl(155, 100%, 40%);
  color: white;
  transition: background-color 0.4s ease;
}

.add-expense-btn:hover {
  background-color: hsl(155, 100%, 35%);
}

.expenses-category-sum {
  padding: 20px;
  display: flex;
  gap: 50px;
  margin-top: 20px;
}

.category {
  padding: 8px;
  font-weight: bold;
  border-radius: 8px;
  color: black;
  width: 150px;
  text-align: center;
}

.clothes {
  background-color: lightcoral;
}

.groceries {
  background-color: lightgreen;
}

.bills {
  background-color: rgb(175, 95, 250);
}

.eating-out {
  background-color: lightsalmon;
}

.monthly-expenses-container {
  padding: 20px;
}

.monthly-expenses-title {
  font-size: 1.3rem;
}

.monthly-expenses-select {
  font-size: 0.9rem;
  padding: 4px;
  font-weight: bold;
  color: hsl(0, 0%, 60%);
  border: 3px solid;
  border-radius: 4px;
}
